{
  "$schema": "https://schemas.wp.org/trunk/block.json",
  "apiVersion": 2,
  "name": "{{ slug }}/sample-block",
  "title": "Sample Block",
  "description": "",
  "icon": "smiley",
  "textdomain": "plain",
  "editorScript": "file:../build/index.js",
  "editorStyle": "file:../build/index.css",
  "style": "file:../build/style.css"
}
