{
  "name": "{{ slug }}",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "type": "module",
    "scripts": {
    "build": "concurrently \"wp-scripts build --webpack-src-dir=blocks/src --output-path=blocks/build\" \"webpack --config webpack.tailwind.js\"",
    "build:tailwind": "webpack --config webpack.tailwind.js",
    "start": "concurrently --kill-others \"wp-scripts start --webpack-src-dir=blocks/src --output-path=blocks/build\" \"webpack --watch --config webpack.tailwind.js\" \"watch-import-fse-data\"",
    "import": "import-fse-data",
    "import:watch": "watch-import-fse-data",
    "export": "export-theme-zip",
    "add-block": "add-block",
    "check-engines": "wp-scripts check-engines",
    "check-licenses": "wp-scripts check-licenses",
    "format": "wp-scripts format",
    "lint:css": "wp-scripts lint-style",
    "lint:js": "wp-scripts lint-js",
    "lint:md:docs": "wp-scripts lint-md-docs",
    "lint:md:js": "wp-scripts lint-md-js",
    "lint:pkg-json": "wp-scripts lint-pkg-json",
    "packages-update": "wp-scripts packages-update",
    "test:e2e": "wp-scripts test-e2e",
    "test:unit": "wp-scripts test-unit-js"
  },
  "author": "{{ author }}",
  "devDependencies": {
    "@xylocone/block-utils": "^0.0.0-alpha",
    "@wordpress/scripts": "^23.1.0",
    "concurrently": "^7.2.1",
    "autoprefixer": "^10.4.7",
    "css-loader": "^6.7.1",
    "css-minimizer-webpack-plugin": "^4.0.0",
    "mini-css-extract-plugin": "^2.6.0",
    "node-sass": "^7.0.1",
    "postcss": "^8.4.14",
    "postcss-loader": "^7.0.0",
    "postcss-preset-env": "^7.6.0",
    "sass-loader": "^13.0.0",
    "tailwindcss": "^3.0.24",
    "webpack": "^5.72.1",
    "webpack-cli": "^4.9.2",
    "webpack-dev-server": "^4.9.0"
  }
}
